/*
    ==== SERVICES SECTION ====

    Description: 
        Services section.
    
    Modificators:
        No modificators.

*/

@use "../variables" as vars;

.services {
    padding-top: 100px;
    padding-bottom: 100px;

    .heading {
        margin-bottom: 100px;

        .title {

            h1,
            h2,
            h3,
            h4,
            h5,
            h6 {
                margin-top: 0;
                margin-bottom: 0;
                font-size: vars.$fs-large;
                line-height: 6rem;
            }
        }

        .subtitle {
            margin: 30px auto 0 auto;
            max-width: 700px;

            p {
                margin-top: 0;

                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }

    .box {
        border: 2px solid #ebf0f4;
        padding: 40px;

        &:nth-child(4n + 1) {
            border-bottom-right-radius: 30px;
        }
        
        &:nth-child(4n + 2) {
            border-top-right-radius: 30px;
        }
        
        &:nth-child(4n + 3) {
            border-bottom-left-radius: 30px;
        }
        
        &:nth-child(4n) {
            border-top-left-radius: 30px;
        }

        .icon-and-title-wrapper {
            display: flex;
            text-align: left;
            gap: 20px;
            justify-content: space-between;
        }

        .icon {
            font-size: 0;
            max-width: 50px;

            img {
                max-width: 100%;
                height: auto;
            }
        }

        .title {
            margin-bottom: 30px;

            h1,
            h2,
            h3,
            h4,
            h5,
            h6 {
                margin-top: 0;
                margin-bottom: 0;
                font-size: 3rem;
                line-height: 3.5rem;
            }
        }

        .content {

            & > *:first-child {
                margin-top: 0;
            }

            & > *:last-child {
                margin-bottom: 0;
            }
        }
    }
}



// RESPONSIVE

@media(min-width: 768px) {

    .services {

        .boxes-holder__inner {
            display: flex;
            justify-content: center;
            gap: 40px;
            flex-wrap: wrap;
        }
    }
}


@media(min-width: 992px) {

    .services {

        .boxes-holder__inner {

            .box {
                width: calc(50% - 40px);
            }
        }
    }
}


@media(max-width: 991px) {

    .services {

        .box {
            text-align: center;

            .icon-and-title-wrapper {
                justify-content: center;
                display: flex;
                flex-direction: column-reverse;
                align-items: center;
                text-align: center;
            }
        }
    }
}

@media(max-width: 767px) {

    .services {

        .boxes-holder__inner {

            .box {
                width: 100%;

                &:not(:last-child) {
                    margin-bottom: 40px;
                }
            }
        }

        .heading .title {

            h1,
            h2,
            h3,
            h4,
            h5,
            h6 {
                font-size: vars.$fs-large;
                line-height: 5.5rem;
            }
        }
    }
}


@media (max-width: 575px) {

    .services {
        padding-top: 50px;
        padding-bottom: 50px;

        .heading .title {

            h1,
            h2,
            h3,
            h4,
            h5,
            h6 {
                font-size: vars.$fs-medium;
                line-height: 4.5rem;
            }
        }
    }
}