/*
    ==== TEXT-AND-IMAGE ====

    Description: 
        Text and image section.
    
    Modificators:
        No modificators.

*/

@use "../variables" as vars;

.text-and-image {
    color: red;
}