/*
    ==== FOOTER ====

    Description: 
        This is footer of website. Also, this file contains styles for the postfooter of the website.
    
    Modificators:
        No modificators.
*/

@use "../.././variables" as vars;

footer {
    color: red;
}