/*
    ==== BUTTONS ====

    Component description:
        Website buttons.
    
    Modificators:
        
    1. Button off

        Description:             Button style for off background. It has 3 variation: .button-off--(primary || secondary || tertiary)
        Hook element selector:   button, a
        Class to add:            button--off
*/

@use "../variables" as vars;

button,
.button {
    width: auto;
    display: inline-block;
    margin: 0;
    padding: 13px 50px 13px;
    border: 1px solid transparent;
    outline: none;
    cursor: pointer;
    @include vars.font(vars.$font-primary-light, normal, 2rem, 2.2rem);
    transition: 0.3s ease;
    color: vars.$text-primary-color;
    text-decoration: none;

    &:hover {
        transition: 0.3s ease;
    }
}

a.button:hover {
    text-decoration: none
}


/*
    ==== BUTTON OFF ====
*/

.button-off {
    @extend .button;
    letter-spacing: 1px;
    background-color: transparent;
    position: relative;
    border: 1px solid vars.$brand-primary-color;
    color: vars.$text-primary-color;

    &::after {
        @include vars.pseudo("", 100%, 100%, absolute);
        content: "";
        background-color: vars.$brand-tertiary-color;
        z-index: -1;
        top: 7px;
        left: 7px;
        transition: 0.2s;
    }

    &:hover::after {
        top: 0px;
        left: 0px;
    }
}

.button-off--primary {
    @extend .button-off;
}

.button-off--secondary {
    @extend .button-off;
    color: vars.$text-fifth-color;

    &::after {
        background-color: vars.$brand-secondary-color;
    }
}

.button-off--tertiary {
    @extend .button-off;

    &::after {
        background-color: vars.$brand-fifth-color;
    }
}


/*
    ==== GOOEY BUTTON ====
*/

.button--bubbles {
    @extend .button;
    border: none;
    color: vars.$text-primary-color;
    filter: url('#gooey');
    position: relative;
    background-color: vars.$brand-tertiary-color;

    svg {
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        height: 100%;
        width: 100%;
    }

    &:focus {
        outline: none;
    }

    .bubbles {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;

        .bubble {
            background-color: vars.$brand-tertiary-color;
            border-radius: 100%;
            position: absolute;
            top: 0;
            left: 0;
            display: block;
            z-index: -1;

            @for $bubble from 1 through 10 {
                &:nth-child(#{$bubble}) {
                    $size: 25px;
                    left: (random(90) + 10)+px;
                    width: $size;
                    height: $size;
                    animation: move-#{$bubble} #{3 + $bubble*0.02}s infinite;
                    animation-delay: #{$bubble*0.2}s;
                }
            }
        }
    }
}

@for $bubble from 1 through 10 {
    @keyframes move-#{$bubble} {
        0% {
            transform: translate(0, 0);
        }

        99% {
            transform: translate(0, -(random(80) + 50)+px);
        }

        100% {
            transform: translate(0, 0);
            opacity: 0;
        }
    }
}

.button-bubbles--primary {
    @extend .button--bubbles;
}

.button-bubbles--secondary {
    @extend .button--bubbles;
    background-color: vars.$brand-secondary-color;
    color: vars.$text-fifth-color;

    .bubbles .bubble {
        background-color: vars.$brand-secondary-color;
    }
}

.button-bubbles--tertiary {
    @extend .button--bubbles;
    background-color: vars.$brand-fifth-color;

    .bubbles .bubble {
        background-color: vars.$brand-fifth-color;
    }
}