/*
    ==== NAVIGATION MENU ====

    Description: 
        This is navigation menu in header.
    
    Modificators:
        No modificators.
*/

@use "../.././variables" as vars;


// Breakpoiont on which navigation menu is moved to sidebar.
$move_to_sidebar_breakpoint: 1399px;

header .navigation-menu {
    display: flex;
    align-items: center;
    flex-direction: column;
    
    ul {
        margin: 0;
        padding: 0;
    }

    & > ul {
        display: flex;
        align-items: center;
    }

    ul li {
        position: relative;
        padding-left: 0;
        list-style: none;
        display: inline-block;
        margin-right: 20px;
        padding-left: 0;
        margin-bottom: 0;
        font-size: 1.6rem;
        line-height: 1.6rem;

        &:last-child {
            margin-right: 0;
        }

        &::before {
            content: none;
        }
    }

    ul li a {
        display: inline-block;
        font-size: inherit;
        line-height: inherit;
        text-decoration: none;
        color: vars.$white;
        padding: 10px 15px;
    }

    ul li:not(.active-section):hover {
        background-color: vars.$brand-secondary-color;
        color: vars.$white;
        transition: 0.2s cubic-bezier(0.215, 0.610, 0.355, 1);
    }

    /*
        ==== FIRST LEVEL ====
    */

    // Parent
    & > ul {

        // Item
        & > li {

            &.active-section {
                
                a {
                    background: linear-gradient(-45deg, rgba(255, 255, 255, 0.6), rgba(0, 0, 0, 0));
                    position: relative;
                    overflow: hidden;
            
                    &::before {
                        content: '';
                        position: absolute;
                        top: -50%;
                        left: -50%;
                        width: 200%;
                        height: 200%;
                        background: linear-gradient(135deg, transparent 0%, rgba(255, 255, 255, 0.8) 50%, transparent 100%);
                        animation: shine 3s infinite;
                    }
                }
            }

            &:last-child {
                margin-right: 0;
            }
        }
    }
}

@keyframes shine {

    0% {
        transform: translateX(-100%);
    }
    50% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(100%);
    }
}