/*
    ==== NAVIGATION MENU ====

    Description: 
        This is navigation menu in header.
    
    Modificators:
        No modificators.
*/

@use "../.././variables" as vars;

header .navigation-menu {
    color: red;
}