/*
    ==== COLORS.VARIABLES ====

    Description:
        All variables related to colors.
    
    Modificators:
        No modificators.
        
*/


// ==== Colors ====

$white: #FFFFFF;
$pure-black: #000000;



// ==== Brand colors ====

// $brand-primary-color: ???;
// $brand-secondary-color: ???;
// $brand-tertiary-color: ???;